@tailwind base;
@tailwind components;
@tailwind utilities;

*, :after, :before {
  box-sizing: border-box;
}

:root {
  color:white;
  text-align:left;
}

body {
  background:#111;
}

.heading-homepage {

}

@media not all and (min-width: 640px) {

}

@media not all and (min-width: 768px) {
    
}

@media not all and (min-width: 1024px) {
    
}

@media not all and (min-width: 1280px) {
    
}

@media not all and (min-width: 1536px) {
    
}