@tailwind base;
@tailwind components;
@tailwind utilities;

*, :after, :before {
  box-sizing: border-box;
}

:root {
  color:white;
  text-align:left;
}

body {
  background:#111;
}

.heading-homepage {
  
}